.contentGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contentCard {
    flex-grow: 1;
    flex-basis: calc((100% - 40px) / 3); /* Calculate flex-basis to ensure 3 columns with 20px gap between them */
    min-width: 400px; /* Minimum width of 200px for each item */
    max-width: 400px; /* Maximum width of 300px for each item */
    margin: 10px; /* Gap between items */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  